/* 表格背景色和字体颜色 */
.custom-table .ant-table-container {
  background-color: #333;   /* 深灰色背景 */
}

.custom-table .ant-table-thead > tr > th {
  background-color: #444;   /* 表头深灰色 */
  color: white;             /* 表头字体白色 */
  font-weight: bold;
}

.custom-table .ant-table-tbody > tr > td {
  background-color: #333;   /* 表体背景色 */
  color: white;             /* 表体字体白色 */
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #555;   /* 行悬停效果 */
  color:#555;
}

.custom-table .ant-table {
  color: white;
}

/* 分页样式 */
.custom-pagination {
  background-color: #333;
  padding: 12px;
  margin-top: 16px;
  text-align: center;
  color: white;
  border-radius: 8px;
}

.custom-pagination .ant-pagination-item {
  background-color: #444;
  color: white;
  border-radius: 4px;
  border: 1px solid #555;
  margin: 0 2px;
}



.custom-pagination .ant-pagination-item:hover {
  background-color: #555;
  color: white;
}

.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next {
  color: white;
}
